{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for title in titles %}
      {% if title.active %}
    	<div class="media">
    		<a class="pr-3" href="{% url 'lis:page' title.title %}">
  				<img class="align-self-center mr-2" id="imaList" src="{{ title.urlImage }}" alt="Listing image ">
  			</a>
  			<div class="media-body">  					
    			<a href="{% url 'lis:page' title.title %}"><h5 class="mt-0">{{ title.title }}</h5></a>
    			<p>{{ title.description }}</p>
    			<p class="mb-1">Initial bid: {{ title.initialBid }}</p>
    			<p id="dateTime" class="mb-0">Created: {{ title.date }} by {{ title.creator }} </p> 
   			</div>
      {% endif %} 
		</div>
	{% endfor %}
{% endblock %}